#containerHeader {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: repeat(12, 1fr);
  font-family: "Poppins", sans-serif;
  margin: 0%;
}

header {
  display: grid;
  background-color: white;
  grid-row-start: 1; /* Grid header : first line */
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
}

#logo {
  display: flex;
  color: #50a892;
  font-size: 3.5vh;
  font-weight: 800;
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

#menuHeader {
  display: flex;
  font-size: 2vh;
  grid-column: 9 / 10;
  grid-row: 1 / 2;
  justify-content: space-around;
  align-items: center;
}

/*Lien menu header */
a:link {
  text-decoration: none; /* pour supprimer l'underline */
  color: #50a892; /* supprimer la couleur bleue du lien*/
}

/*Lien menu header */
a:visited {
  color: #50a892; /* supprimer la couleur bleue du lien */
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  margin: 0%;
  padding: 0%;
  grid-column: 1 / 13;
  grid-row: 2 / 13;
}

#title {
  display: flex;
  font-size: 4.5vh;
  color: white;
  font-family: "Poppins", sans-serif;
  grid-column: 1 / 13;
  grid-row: 1 / 2;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5px;
}

#subtitle {
  display: flex;
  font-size: 2.5vh;
  color: white;
  font-family: "Poppins", sans-serif;
  grid-column: 1 / 13;
  grid-row: 2 / 3;
  justify-content: center;
  align-items: flex-start;
  margin-top: 5px;
}

#containerBodyIndex {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  font-family: "Poppins", sans-serif;
  margin: 0%;
  background: url("images/background.jpg");
  background-size: cover;
  background-position: center;
}

#containerBodyCart {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  font-family: "Poppins", sans-serif;
  margin: 0%;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#searchBox {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 6;
  grid-row: 3 / 7;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #50a892;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

#resultsBox {
  display: flex;
  flex-direction: column;
  grid-column: 8 / 12;
  grid-row: 3 / 7;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #50a892;
  color: #50a892;
  overflow: scroll;
}

#departureInput {
  display: flex;
  border-radius: 10px;
  height: 5%;
  width: 100%;
  background-color: #f3f3f4;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#departureInput:hover {
  background-color: lightgrey;
}
#departureInput:focus {
  font-weight: bold;
  outline: none !important;
  border-color: #50a892;
}

#arrivalInput {
  display: flex;
  border-radius: 10px;
  height: 5%;
  width: 100%;
  background-color: #f3f3f4;
  justify-content: center;
  align-items: center;
}
#arrivalInput:hover {
  background-color: lightgrey;
}

#arrivalInput:focus {
  font-weight: bold;
  outline: none !important;
  border-color: #50a892;
}

input {
  font-family: "Poppins", sans-serif;
  color: #50a892;
  padding: 5px;
  margin: 10px;
  margin-right: 30px;
  margin-left: 30px;
}

#dateInput {
  display: flex;
  border-radius: 10px;
  height: 5%;
  width: 100%;
  background-color: #f3f3f4;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

#btnSearch {
  display: flex;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  background-color: #50a892;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: white;
  margin-top: 30px;
  cursor: pointer;
}

#btnSearch:hover {
  background-color: #00ba8e;
}

#btnPurchase {
  display: flex;
  border-radius: 10px;
  height: 40px;
  width: 20%;
  background-color: #50a892;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 20px;
}

.litrips {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  background-color: #f7f1f1;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}

.bookbtn {
  display: flex;
  border-radius: 10px;
  background-color: #50a892;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: bold;
  margin-left: 1.7vw;
  font-size: 15px;
  cursor: pointer;
}

.bookbtn:hover {
  background-color: #00ba8e;
}

#imgTrain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 50%;
  border-bottom: #50a892 solid 3px;
}

#resultsText {
  text-align: center;
}

#myCart {
  grid-column: 3 / 11;
  grid-row: 3 / 8;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  color: #50a892;
  text-align: center;
  font-size: 30px;
}

#myCartPurchase {
  grid-column: 3 / 11;
  grid-row: 8 / 9;
  background-color: #001648;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: -20px;
  padding: 10px;
  color: white;
  justify-content: space-between;
  display: inline-flex;
}

#totalPrice {
  font-weight: bold;
  margin-left: 10px;
}

#myCartTotal {
  margin-left: 20px;
}

#cart {
  grid-column: 3 / 11;
  grid-row: 4 / 8;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  color: #50a892;
  text-align: center;
  margin-top: 30px;
}

#bookings {
  grid-column: 3 / 11;
  grid-row: 4 / 8;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  color: #50a892;
  text-align: center;
  margin-top: 30px;
}

#myBookings {
  grid-column: 3 / 11;
  grid-row: 3 / 8;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
  color: #50a892;
  text-align: center;
  font-size: 30px;
}

#containerBodyBookings {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  font-family: "Poppins", sans-serif;
  margin: 0%;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
